<h1 style="text-align: center;"><strong>Привет мой дорогой друг!</strong></h1>
<p>Это моя первая работа с HTML-редактором.</p>
<p><em>Оказывается, я могу просто писать курсивом.</em></p>
<p style="text-align: center;">Могу писать посередине.</p>
<p style="text-align: right;">И с правого края тоже....</p>
<p style="text-align: left;">И все это мне сразу доступно в виде HTML-кода<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<p style="text-align: left;">А если добавить таблицу?</p>
<table style="height: 125px;" width="533">
<tbody>
<tr>
<td style="width: 258.5px;"><span style="color: #ff0000; background-color: #000000;">И ЭТО</span></td>
<td style="width: 258.5px;"><span style="color: #ff0000; background-color: #000000;">ТОЖЕ</span></td>
</tr>
<tr>
<td style="width: 258.5px;"><span style="color: #ff0000; background-color: #000000;">ЛЕГКО</span></td>
<td style="width: 258.5px;"><span style="color: #ff0000; background-color: #000000;">СДЕЛАТЬ</span></td>
</tr>
</tbody>
</table>